/*
 * Стили компонента App
 */
.AppStyle {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}
.errorMessage {
  display: block;
  padding: 0;
  margin: 10px auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.24;
  color: red;
}
